@charset "utf-8";
/* CSS Document */


/* COULEURS
BLEU CLAIR -ex chiffres %-   //  .bleu_clair{ color:#248cc9}
VERT CLAIR -ex chiffres %-   //  .vert_clair{ color:#8dc649}
ORANGE CLAIR -ex chiffres %- //  .orange_clair{ color:#8dc649}
ROSE -ex boutons // .rose{ color:#ea008b}
GRIS FONCE -ex applat contact // .gris_fonce{ color:#4c4d4f}
*/


/* FONTS BNP */
@font-face{font-family:'bnpp_sans-webfont';src:url(fonts_bnp/bnpp_sans-webfont.eot);src:url(fonts_bnp/bnpp_sans-webfont.eot?#iefix) format('embedded-opentype'),url(fonts_bnp/bnpp_sans-webfont.woff) format('woff'),url(fonts_bnp/bnpp_sans-webfont.ttf) format('truetype'),url(fonts_bnp/bnpp_sans-webfont.svg#bnpp_sans-webfont) format('svg');font-weight:normal;font-style:normal;text-rendering:optimizeLegibility;}
@font-face{font-family:'BNPPRoundedv2';src:url(fonts_bnp/BNPPRoundedv2.eot);src:url(fonts_bnp/BNPPRoundedv2.eot?#iefix) format('embedded-opentype'),url(fonts_bnp/BNPPRoundedv2.woff) format('woff'),url(fonts_bnp/BNPPRoundedv2.ttf) format('truetype'),url(fonts_bnp/BNPPRoundedv2.svg#BNPPRoundedv2) format('svg');font-weight:normal;font-style:normal;text-rendering:optimizeLegibility;}
@font-face{font-family:'BNPPSansCondv2';src:url(fonts_bnp/BNPPSansCondv2.eot);src:url(fonts_bnp/BNPPSansCondv2.eot?#iefix) format('embedded-opentype'),url(fonts_bnp/BNPPSansCondv2.woff) format('woff'),url(fonts_bnp/BNPPSansCondv2.ttf) format('truetype'),url(fonts_bnp/BNPPSansCondv2.svg#BNPPSansCondv2) format('svg');font-weight:normal;font-style:normal;text-rendering:optimizeLegibility;}
@font-face{font-family:'BNPPSansLight';src:url(fonts_bnp/BNPPSansLight.eot);src:url(fonts_bnp/BNPPSansLight.eot?#iefix) format('embedded-opentype'),url(fonts_bnp/BNPPSansLight.woff) format('woff'),url(fonts_bnp/BNPPSansLight.ttf) format('truetype'),url(fonts_bnp/BNPPSansLight.svg#BNPPSansLight) format('svg');font-weight:normal;font-style:normal;text-rendering:optimizeLegibility;}



body{
	background:#fff;
	padding-top: 90px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 0.85em;
    line-height: normal;
    color: #7d796f;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;}

h1{
	color:#393939;
	font-family:'BNPPSansCondv2',Arial,sans-serif;
	font-size:350% !important;
	letter-spacing:0.03em;
	font-weight:600;
    margin-top: 30px;}

h2{
	color:#248cc9;
	font-size:130% !important;
	font-weight:bold}


section{font-size:160%; margin-top: 20px}


@media (max-width: 767px) {
	body{padding-top: 70px;}
	h1{font-size:190% !important}
	}

.container.bg_blanc ul{ list-style: none; padding-left: 0}

.container.bg_blanc li:before {
    content: "■";
    display: inline-block;
    width: 10px;
    margin-right: 6px;
    color: #8dc649}










/******************************
	HEADER
******************************/
.container.logo .baseline_header{
	display:table-cell;
	vertical-align:middle;
	width:250px;
	font-family: 'bnpp_sans-webfont',Arial,Helvetica;
	font-size:120%;
	color:#000;}










/*********************
  DIVERS COMMUNS
*********************/
.bg_blanc{ background:#fff; padding-left:50px; padding-right:50px}

@media (max-width: 768px){
	.bg_blanc{padding-left:1%; padding-right:1%}
}

.bouton_fleche{
	display: inline-block;
	background:#e2e1e1;
	color:#444444;
	text-align:center;
	padding: 12px 20px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin: 15px 0;}

.bouton_fleche span:after {
	display: inline-block;
	content: "";
	width: 17px;
	background: url(../img/sprite_bnp.png) 3px -192px no-repeat;
	height: 15px;
}

.bouton_pdf{
	display: table;
	border:1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	padding: 20px 30px 20px 48px;

	margin: 20px 10px 20px 0;
	width: auto;
	vertical-align: middle;
	float: left;
	background: url(../img/icon_pdf.svg) 2px center no-repeat;
	background-size: 30% auto;
}

@media (max-width: 767px) {
.bouton_pdf{
	width: 100%;
	padding: 20px 30px 20px 13%;
	background-size: 12% auto;}
	}

.bouton_pdf span:first-child{ color: #7d796f}

.chiffre{
	text-align: center;
	font-size: 700%;
	font-weight: bold;
	font-family:'BNPPSansCondv2',Arial,sans-serif;
}

.couleur01{ color:#248cc9}/*BLEU*/

.couleur02{ color:#8dc649}/*VERT*/

.couleur03{ color:#f08f31}/*ORANGE*/

.fd01{ background-color: #f4f4f4; position: relative;}/*GRIS*/
.fd02{ background-color: #8dc649; position: relative;}/*VERT*/
.fd03{ background-color: #819941; position: relative;}/*VERT 2*/
.fd04{ background-color: #d8d9da;}/*GRIS clair*/

.titre01{
	font-size: 130%;
	font-weight: bold;
	color: #393939;
	padding: 10px 0;
	display: inline-block;}

#section-01{position: absolute; z-index: 40000; top: 30%; height: 10px; width: 10px }

.bloc_graph .col-md-6{ padding-left: 0;}

.graph{ margin: 15px 0}

.marg0{ margin-left: 0; margin-right: 0 }

.fd02 .container:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    border-right: 17px solid transparent;
    border-top: 17px solid #FFF;
    border-left: 17px solid transparent;
    margin-left: 2%
}










/*********************
  FORMULAIRE CONTACT
*********************/
.bicolor{ background: url(../img/bicolor.png) repeat-y center top; color: #fff }

.bicolor h1{color: #fff }

.bicolor .bg_gris2{ padding: 20px 0 }

.bg_gris{
	background:#4c4d4f;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	color:#fff}

.bg_gris2{background:#4c4d4f;}

.bg_rose{
	background:#ea008b;
	color:#fff}

.telephone{
	background: url(../img/sprite_bnp.png) 3px -1200px no-repeat;
	padding: 110px 10px 10px 4%;
    margin-top: 12%;}

.bg_gris h1{color:#fff; font-weight: normal;}

.bg_gris .form-group{ width: 50%; float: left}

.bg_gris .form-group{ padding-right: 3%}

.bg_gris .form-group + .form-group{ padding-left: 3%; padding-right: 0}

.bg_gris .message{width: 100%; padding-right: 0}

label{ font-weight: normal; font-size: 120%}


@media (max-width: 767px){
	.bg_gris .form-group{ width: 100%;}
	.bg_gris .form-group{ padding-right: 0%;}
	.bg_gris .form-group + .form-group{ padding-left: 0 !important; padding-right: 0}
	.bg_gris{padding-left:1%; padding-right:1%}
	.bicolor{ background: none; }
	.telephone{background: url(../img/sprite_bnp.png) 3px -1200px no-repeat;
	padding: 30px 10px 10px 35%;
    margin-top: 0%;}
}

.form-control{
	border-radius: 1px 1px 1px 1px;
	-moz-border-radius: 1px 1px 1px 1px;
	-webkit-border-radius: 1px 1px 1px 1px;
	border: 1px solid #8e8e8e;
	background:#3c3e42;
	color: #fff}

button[type="submit"]{
	background:#fff;
	text-transform: uppercase;
	padding: 24px 30px;
	border-radius:0; border: none;
	color: #4c4d4f;
	font-size: 120%;
	margin-top: 20px}










/*********************
  POUR DIV BACK TO THE TOP
*********************/
.back_top{
	display:block;
	height:45px;
	width: 45px;
	border-radius:2px;
	position: fixed;
	bottom: 35%;
	right: 2%;
	text-decoration: none;
	background:rgba(0, 0, 0, 0.4) url(../img/sprite_bnp.png) 0 -400px no-repeat;
	z-index: 2000}

.back_top:hover{text-decoration: none;}

@media (max-width: 767px){
.back_top{
	position: fixed;
	bottom: 2%;
	right: 2%;
	background:rgba(0, 0, 0, 0.2) url(../img/sprite_bnp.png) 0 -400px no-repeat;}
}










/*********************
    CENTRE / CONTENU
*********************/
.icon_opci{ text-align:center; max-height: 150px}
.icon_opci img{ max-height: 150px}

@media (max-width: 767px){
	.icon_opci img{max-width:40%;}
}



/* === BLOC H1 === */

.h1_bloc{
	height: 450px;

	background: url(../img/fd_h1.jpg) no-repeat center center;

/*
	background: url(../img/fd_h1.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */}


/* === BLOC ACTUALIES === */
.actu_bloc{
	display: block;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	color: #7d796f;
	text-decoration: none;}

.actu_bloc:hover{text-decoration: none;}

.actu_date{
	display: inline-block;
	font-size: 90%;
	color: #7d796f;}

.actu_titre{
	display: inline-block;
	color: #248cc9;
    font-size: 110% !important;
    font-weight: bold;
	padding: 5px 0}

.portefeuille_texte:after,
.actu_texte:after{
	background: url(../img/sprite_bnp.png) 10px -595px no-repeat;
	height:14px;
	width: 24px;
	display:inline-block;
	content:""}



/* === BLOC PORTEFEUILLE === */
.full{
	position: relative;
	padding-bottom: 40%;
	padding-top: 25px;
	height: 0
}

.full iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 450px
}

.list_bien{
	padding: 0;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	display: block !important;
	color: #7d796f}

.row.fd01 .col-md-5{ padding: 0}

.list_bien .col-md-4{ padding-left: 0}

.portefeuille_texte{ display: inline-block; padding: 14px 0}

.portefeuille_texte_detail{ display: inline-block; padding: 14px 30px 14px 0}

.portefeuille_texte:hover{ color: #000}

.bloc_portefeuille .col-md-8.col-xs-8{ padding-left: 0}

.close_portefeuille_bloc_detail{
	position: absolute;
	top: 1%;
	right: 1%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-family: 'bnpp_sans-webfont',Arial,Helvetica;
	font-size:200%;
	background:rgba(29,31,36,0.8)}

.close_portefeuille_bloc_detail:hover{ color: #fff}

/*  POUR OPEN HIDE DIV */
.slidingDiv{
	background-color:#f4f4f4;
	padding:20px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500}

.show_hide{display:none;}

.show_hide2{display:none;}

.box_conseil{ display: none }

@media (max-width: 767px) {
	.full{ margin-bottom: 10px}
	.slidingDiv{margin: 100px 0 0 0}
	}



.container.bg_blanc.engagements{
	background:#fff url(../img/visu_engagements.jpg) center top no-repeat;}

.container.bg_blanc.engagements h1{
	color: #fff;
    height: 240px;
    padding-top: 150px;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

@media (max-width: 767px){
	.container.bg_blanc.engagements{ background:#fff url(../img/visu_engagements_phones.jpg) center top no-repeat}

	.container.bg_blanc.engagements h1{
	color: #fff;
    height: 167px;
    box-sizing: border-box;
    padding-top: 90px;}
}










/*********************
       NAV
*********************/

.nav{ text-transform: uppercase; }

.navbar .container{ font-size: 150%;}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #8dc649;
    background-color:#fff;
}

.navbar-default .navbar-nav>li:last-child.active>a,
.navbar-default .navbar-nav>li:last-child.active>a:focus,
.navbar-default .navbar-nav>li:last-child.active>a:hover {
    color: #fff;
    background-color:#ea008b;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-nav>li>a{
	padding-left: 8px;
    padding-right: 8px;
	font-size: 130%}

.logo_img{ width: 20%; vertical-align: middle; float: left;}

.logo_img img{
	width:208px;
	height: 51.6406px;
	transition: all 300ms ease-out 0s;
	margin: 16px 0 0 10px;
	}

.top-nav-collapse .logo_img img{ width:160px; height: 39.7188px;margin: 8px 0 0 10px;}

@media (max-width: 999px){
	.logo_img img{margin: 4px 0 4px 4px;}
}

.collapse.navbar-collapse.navbar-ex1-collapse{float: right;}

@media (max-width: 999px){
.collapse.navbar-collapse.navbar-ex1-collapse{float: none;  width: 100%}

.logo_img img{ padding: 4px 0 4px 2px }
}










/*********************
       FOOTER
*********************/
#footer{
	font-size:150%;
	padding:15px 0;
	color:#fff}

#footer ul{ margin:0}

#footer ul li { display:inline-block; list-style:none}

#footer ul li:before{ display:inline-block; content:"|"; margin:0 5px 0 0; font-size:11px}

#footer ul li a {margin: 0 3px;color:#fff; line-height:29px}

#footer .col-md-8{ float:right; text-align:right}

@media (max-width: 767px) {
	#footer ul{ margin:0; padding-left: 30px}
	#footer img{ max-width: 80%;}
	#footer .col-md-8{ float:left; text-align:left}
	}