$colorbleu:  #8ac7d7; /* Bleu ruynesse */
$colorwhite: #ffffff; /* Blanc */
$colorgris:  #cac8c8; /* Blanc */
$gristxt:    #777777; /* Blanc */
$grislight:  #eeeeee; /* GRIS CLAIR ex : li active et hover nave */

$color00: #000; /* Noir */
$color01: #fff; /* Noir */
$color02: #e7e7e7; /* GRIS CLAIR ex : li active et hover nave */
$color03: #b2b2b2; /* Gris clair ex : date événements */
$color04: #3a3a3a; /* Gris foncé ex : fond footer */
$colorBrand01: #3a3a3a; /* Gris ex : Texte courant */
$colorBrand02: #82e600; /* Vert ex : Fond boutons */
$colorBrand03: #4e6b7c; /* BLEU ex : Fond login */


.bg01{ background: $color00}
