#expert {
    background-color: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    @media (max-width:$mediaQuery2) {
        height: auto;
        padding-top: 0;
    }

    .p_expert {
        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
            padding: 2rem 10rem 3rem;
            @media (max-width:$mediaQuery2) {
                padding: 2rem 0 3rem;
            }
        }

        .expert_inner {
            text-align: center;
            padding: 20px 40px;
            @media (max-width:$mediaQuery2) {
                padding: 10px 20px;
            }

            .titre_expert {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;
            }

            p {
                text-align: left;
                font-size: 16px;
                text-align: justify;
                margin-top: 10px;
            }

            a {
                display: inline-block;
                width: 114px;
                height: 114px;
                margin-bottom: 25px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -o-border-radius: 50%;
                border: 1px solid $colorbleu;
                text-decoration: none;
                -webkit-transition: all 1.6s ease 0s;
                transition: all 1.6s ease 0s;

                &:hover {
                    background: $colorbleu;

                    i {
                        color: $colorwhite;
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                    }
                }

                i {
                    color: $colorbleu;
                    font-size: 40px;
                    line-height: 114px;
                    transition: all 0.17s ease-in-out;
                    -moz-transition: all 0.17s ease-in-out;
                    -webkit-transition: all 0.17s ease-in-out;
                    -o-transition: all 0.17s ease-in-out;
                }
            }
        }
    }
}
