
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@import "font-awesome.min";

.font01{
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100}

.font02{
  display: inline-block;
  margin-bottom: 15px;
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500}

.font03{
  font-size:24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500}
