footer {
    background-color: $colorwhite;
    position: relative;
    text-align: center;
    background-color: $grislight;
    padding: 20px 0;
    font-size: 16px;

    a,
    a:focus,
    a:hover {
        color: $gristxt;
        font-weight: normal;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            list-style: none;
        }

        li:last-child {
            &:before {
                display: inline-block;
                content: "|";
                margin: 0 5px 0 0;
                font-size: 11px;
                color: $gristxt;
            }
        }
    }
}
