#produit {
    background-color: #fff;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width:$mediaQuery3) {
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
    }

    .p_produit {
        text-align: center;

        h1 {
            font-weight: 100;
            margin-bottom: 40px;
        }

        .produit_inner {
            text-align: center;

            .pic_produit {
                width: 100%;

                img {
                    width: 80%;
                    height: auto;
                }
            }

            .titre_expert {
                font-weight: 100;
                font-size: 20px;
                margin-top: 20px;
                text-transform: uppercase;
            }

            p {
                text-align: left;
                margin-top: 20px;
                font-size: 16px;
                line-height: 1.6;
            }
        }
    }

    .bg_produit {
        background: url('../img/service-image.jpg') center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        min-height: 400px;
        position: relative;
    }
}
